.nav{
    color: #fff;
    position: absolute;
    width: 100vw;
    z-index: 100;
}

.navbar {
    display: flex;
    width: 80%;
    margin: auto;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.navlinkText {
    display: inline;
    margin: 0 20px ;
    font-size: 1.5rem;
}

.mediumView {
    display: none;
}
.b {
    font-size: 1.5rem;
    z-index: 10;
}

@media (max-width:900px ) {

    

.navbarLinks {
    display: none;
}

.mediumView {
    display: block;
    display: grid;

}

/* 'absolute left-0 text-black top-0 w-full h-full z-10 bg-gray-100/90 px-4 py-7 flex flex-col' :  'absolute left-[-100%] top-0 w-full bg-gray-100/90 px-4 py-7 flex flex-col' */
.show {
    position: fixed;
    top: 0%;
    left:0;
    height: 50vh;
    width: 100vw;;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navlinkText {
    margin: 15px;
    text-align: center;
}
.hide {
    display: none;
}

}