@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Quicksand&display=swap');
* {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  box-sizing:border-box;

}
html {
  overflow-y: scroll;
}

body {
  /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
  /* background: linear-gradient(112.1deg,rgb(18, 16, 35) 11.4%, rgba(43, 65, 98, 1) 70.2%); */
  background: linear-gradient(112.1deg,   rgb(19, 28, 63) 11.4%,   rgb(62, 33, 89) 70.2%);

  font-family: 'Quicksand', sans-serif;
}


section {
  margin: 7% auto;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:  rgb(62, 33, 89) 70.2% ;
  
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(20, 30, 48); 
  border-radius: 20px;
}


.heroBackground {
  top: 0%;
  width: 100vw;
  height: 100vh;
}
.heroBackgroundImage {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


/* Text Gradient */
.gradientText {
  background: linear-gradient(
    to right, 
    rgba(151, 149, 239, 1),
    rgba(249, 197, 209, 1)

  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}


